parser: babel-eslint
extends: airbnb

env:
  browser: true
  node: true
  mocha: true
  es6: true

globals:
  expect: true
  __ENVIRONMENT__: true
  __VERSION__: true

rules:
  comma-dangle: [2, never]
  max-len:
    - error
    - 120
    - 2
    - { ignoreUrls: true, ignoreComments: false }

  jsx-a11y/href-no-hash: 0
  jsx-a11y/label-has-for: 0

  no-unused-vars: [error, { argsIgnorePattern: '[event|payload]' }]
  new-cap: [error, { capIsNewExceptions: [Immutable] }]
